/* CSS Document */

.content,#loading{
	background:#FaFFFa;	
}
.navbar .nav>.active>a{
	background:	rgb(213,240,205);
	color: rgb(6,102,90);
	font-size:14px; 

}

a{
	color: rgb(6,102,90);
	font-size:16px;
	font-weight:bold;	
}
.navbar .nav>.active>a>span{
	background:#698D85;
	color:white;	
}
.navbar .nav>.active>a:hover{
	background:	rgb(213,240,205);
	color: rgb(6,102,90);
}

.navbar .brand:hover{
	color:#FFFF88;	
}

.title{
	background:#D5F0CD;
	font-size:24px;
	color: rgb(6,102,90);
	height:54px;	
}

.title center{
 	padding-top: 20px;
}

.title span {
	padding:5px 0;
}

#approved_list tbody tr td,#priviledge tbody tr td,#table_equipment table tbody tr td{
	cursor:pointer;
}

.nav_active,.nav_active:hover{
	background:#d5f0cd !important;
		
}



#before-row{
	margin-top:20px;	
}

.nav-tabs li a,.nav > .disabled > a {
	color: rgb(6,102,90);
}

#addMenu {
	background-color:#e9e9e9;
	padding-top: 13px;
}
#addMenu:hover{
	background-color:#F0F0F0;
	cursor:pointer;
}

.btn-main,.btn-main:active,.btn-main:visited,.btn-main:focus{
	background: #06665A;
	color: white;	
}

.btn-main:hover{
	background: #00372F;
	color: white;
}


.req_count{
	background: #024239;
	padding-left:5px;
	padding-right:5px;
	border-radius:3px;
}

.bar{
	float:left;
	margin-left:20px;	
}

.none_underline{
	text-decoration:none;	
}

.dataTables_length,.dataTables_info{
	margin-left:10px;	
}
 
.dataTables_length{
	position: relative;	
	top:45px;
	float:none !important;
}
 
.center{
	width: 95%;
margin: 0 auto; 	  
}


div.equipmentbar{
	position: relative;
top: 30px; 
font-size:24px;
font-weight:bold;
}

div.logbook_bar{
	font-size:18px;
font-weight:bold;
margin:7px 0; 
}

.tab-pane{
	overflow:hidden;	
}

form .content{
	padding:10px;
	margin-top:20px; 	
}  
 
.bfh-selectbox-toggle{
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;	
	width: 50%;
}

.label-warning,.label-success {
font-size: 15px;
padding: 3px;
margin-left: 8px;
position: absolute;
}

