@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
@import url('sarabun.css');

 

body{
	background:url(../img/bg/bg1.jpg) repeat;	
}

#success, #loading,.content {
	z-index:10;
	background: #FbFaf0;
	padding-top:30px;
	padding-bottom:30px; 	
	margin-bottom:30px;
	border-width: 0 0 1px;
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
	min-height:100px;
}

#success, #loading{
	margin-top:70px;	
}

#form_login,#form_register, #success{ 
	margin-top:-100%;	
}

.navbar .nav>li>a {
	color:#fff;
	font-size:14px;  
}

.navbar .nav>li>a:hover{
	color:#FFFF88;	
}

.navbar .nav>.active>a{
	background:	rgb(243,193,75);
	color: #fff;

}

.navbar .nav>.active>a:hover{
	background:	rgb(243,193,75);
	color:#FFFF88;
}

.navbar .brand {
	color:#fff;	
}

.navbar .brand:hover{
	color:#FFFF88;	
}

#booking{
	
	padding:20px 0;
}
.bookline{
	background-color:rgba(255,135,38,0.5);
} 
.calendars{
width: 573px !important; 
}	
.calendars-month-header .calendars-month-year{
	 width: 105px;
    height: 15px;
	padding: 0;	
}
.calendars-month-header .calendars-month-year:last-child
{
padding: 0;
height: 15px;
width: 60px;
}

.page-header{
	font-size:24px;
	font-weight:bold;	
}

.hover-bg {
	background-color: #B8E2EF;
}

.marginTop40{
	margin-top:40px;	
}
.marginTop30{
	margin-top:30px;	
}
.marginTop20{
	margin-top:20px;	
}
.span4>.row>.span2:last-child{
		margin: 10px 0;
}

.bx-wrapper{
	margin-bottom:15px !important ;	
}

.footerBar{
	background:rgb(244, 119, 53);
	min-height:200px;
	color:white;	
	position:absolute;
	width:100%;
	left:0;
}
 
.warper{
	margin-bottom:20px;
	margin-top:70px;
}

.input-80{
	width:80%;	 
}

#news tbody tr td{
	cursor:pointer;
}

#news_content{
	min-height:400px;	
}

.well input{
	margin:5px 0;	
}

.btn-main,.btn-main:active,.btn-main:visited,.btn-main:focus{
	background: #Ff7939;
	color: white;	
}

.btn-main:hover{
	background: #f36f30;
	color: white;
}


.btn-sup,.btn-sup:active,.btn-sup:visited,.btn-sup:focus{
	background: #F4CFA9;
	color: white;	
}
.btn-sup:hover{
	background: #F0C0A0;
	color: white;
}


.page-title{
	background:#F3C14B;
	color:white;
	font-size:20px;
	font-weight:bold;
	padding:14px 0;	
	margin-bottom:20px;
	padding-left:10px;
}

.cursor-pointer{
	cursor:pointer;
}

.back{
	margin-left:30px;
	color:#F3C14B;
	position:relative;
}
#filterSelected {
	margin-top:20px;
}
#filterSelected div select{
		width:295px;
		margin-top:10px;
}

#filterSelected .filterTitle{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}

.calendarBox{
	background-color:rgb(252, 248, 217);
	margin-top:40px;
	padding-bottom:20px;
	border-top:1px solid #eeeeee;
}

.circle-icon{
	font-size:30px;
	font-weight:bold;
	background:	rgb(243,193,75);
	padding:0px 20px;
	border-radius:50%;
	color:white;
		
}

.header-calender{
	margin: 0 0 15px 0;
padding: 10px;
background: #FFF7BB;
font-size: 24px;
font-weight: bold;	
}

div.toolbar,div.toolbar2,div.toolbar3{
	position: relative;
top: 30px;
font-size:24px;
font-weight:bold;
} 

.dynamic_td a{
	text-decoration: none;	
}  