@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

 
.carousel{
	margin-bottom:0px;	
	position:absolute;
}



#form_login,#form_register{
	z-index:10;
	position:absolute;
	background:rgba(226,237,229,0.9);
	padding-top:30px;
	padding-bottom:30px;
	/*width:500px;*/
	margin-top:5%;
	box-shadow: 0px 0px 40px rgba(151,157,145,0.9);
	border-radius:10px;
	
}

#form_register{
	margin-top:-40%;	
}

#logo{
	position:fixed;
	top:40px;
	left:80px;
	z-index:11;
	background:#FFF;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	border-width: 0 0 1px;
	background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
border: 1px solid #d4d4d4;
}




